body {
    background-color: white;
    font-family: tahoma;
}

.nav {
    color: #f0ebce;
    background-color: #395144;
    padding: 10px;
}

h3 {
    padding-left: 30px;
    
}

.content {
    background-image: url('bgcontent.jpg');
    
}








@media only screen and (max-width: 1024px) {
    [class*="col-"] {
        width: 100%;
    }
}