body {
    background-color: white;
    font-family: tahoma;
}

.nav {
    color: #f0ebce;
    background-color: #395144;
    padding: 10px;
    position: fixed;
}

h3 {
    padding-left: 30px;
    
}

.home {
    background-image: url('bgcontent.jpg');
    height: 629px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

#quotes1 {
    font-size: 60px;
    font-family: Verdana;
    padding: 50px;
    color: rgb(10, 77, 10);
    font-weight: bold;
}





@media only screen and (max-width: 1024px) {
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    [class*="col-"] {
        width: 50%;
    }
}